@use "../../../assets/styles/mixin.scss" as mixin;

.serie {
    border-radius: 20px;
    height: 530px;
    cursor: pointer;
    .imgContainer {
        position: relative;
        height: 450px;
        overflow: hidden;
        display: flex;
        justify-content: flex-end;
        i {
            margin-top: 10px;
            margin-right: 10px;
            z-index: 1;
            color: rgb(63, 63, 63);
            &:hover {
                color: var(--error);
            }
        }
        img{
            z-index: 0;
            position: absolute;
            top:0;
            left: 0;
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
            width: 100%;
            transition: 1s transform;
            &:hover {
                transform: scale(1.1);
            }
        }
        @include mixin.xs {
            grid-template-columns: 1fr;
            grid-auto-columns: 1fr;
        }
    }
}

.title {
    height: 80px;
    border:  1px solid var(--gray-2);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    transition: 0.2s color;
    &:hover {
        color: var(--error);
    }
}